html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
body {
    margin: 0;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(https://pixabay.com/get/gbaa662c29bbe97c7f8b3802314e3a34b879f0dfb6fe8a093c2be7de117b298b2fd32bee87c9075403ab0d68473876ff60ff3d074c47610f2fd164f5e007883b05a696252283551ed1e98fd5475db348f_1920.jpg); }
.panel2 { background-image:url(https://pixabay.com/get/g0aa4b8aa2238ae0cbe51f707ddf2a775bf191733f0ebf1626014488230bf0b63364962e533277ebc1886da452e7da4f4cf7f9d6ec3cccf35c5d0389175fd73ef8aad3de82df00b99b055bdf9e5fa8332_1920.jpg); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://pixabay.com/get/gcbc08afd31dedbe015be3ac9ce90da427c6fc390b3f8883e6db19357eff16ac551cdd586d4a94c98512a84fb34472162e09e39b0aa992c3141bd170d3efb2f8c9d7548d811f40f03c91e5517f1de13f7_1920.jpg); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

  /* Flex Children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel >*:last-child {transform: translateY(100%);}
.panel.open-active >*:last-child {transform: translateY(0);}
    
  .panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
  }
  
.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size: 40px;
}

.cta{
    color: white;
    text-decoration: none;
}
